<!DOCTYPE html>
<html>
<head>
    <title>Beck Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="header">
    <div class="logo">BECK</div>
    <ul class="main-nav">
        <li><a href="/article-list.php">内容</a></li>
        <li><a href="/category-list.php">分类</a></li>
        <li><span class="current-menu">外观</span></li>
        <li><a href="/setting-site.php">设置</a></li>
    </ul>
    <div class="logout"><a href="/logout.php">退出登录</a></div>
    <ul class="sub-nav">
        <li><a href="/appearance-theme.php" class="selected-sub-nav">主题</a></li>
    </ul>
</div>

<div class="main-content">
    <div class="content-block">
        <form class="">
            <div class="input-row">
                <label class="input-item-name">自定义主题</label>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-cus" value="0" class="theme-radio"/>
                        <span>Cloud</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Rain</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Sun</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Night</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>

            </div>
            <div class="input-row">
                <label class="input-item-name">系统主题</label>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Beck-personal</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Beck-business</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Beck-company</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Beck-photo</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
                <div class="theme-block">
                    <div class="theme-thumb">
                        <img src="" class="">
                        <span>主题缩略图</span>
                    </div>
                    <div>
                        <input type="radio" name="theme-bus" value="0" class="theme-radio"/>
                        <span>Beck-gallery</span>
                    </div>
                    <button type="button" class="btn btn-default">删除</button>
                </div>
            </div>
            <button type="button" class="btn btn-default">保存更改</button>
            <button type="button" class="btn btn-default">上传新主题</button>
        </form>
    </div>
</div>

</body>
</html>
