<!DOCTYPE html>
<html>
<head>
    <title>Beck Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="header">
    <div class="logo">BECK</div>
    <ul class="main-nav">
        <li><a href="/article_list.php">内容</a></li>
        <li><span class="current-menu">类别</span></li>
        <li><a href="/theme.php">外观</a></li>
        <li><a href="/setting.php">设置</a></li>
    </ul>
    <div class="logout"><a href="/logout.php">退出登录</a></div>
    <ul class="sub-nav">
        <li><a class="selected-sub-nav" href="/category-list.php">栏目</a></li>
        <li><a href="/tag_list.php">标签</a></li>
    </ul>
</div>

<div class="main-content">
    <div class="content-block">
        <table id="sales">
            <caption>栏目列表</caption>
            <thead>
            <tr>
                <th scope="col" class="th-operation-col">操作</th>
                <th scope="col" class="th-title-col">栏目名称</th>
                <th scope="col" class="th-article-col">文章总数</th>
                <th scope="col" class="th-desc-col">描述</th>
                <th scope="col" class="th-index-col">指定首页</th>
                <th scope="col" class="th-time-col">创建时间</th>
                <th scope="col" class="th-time-col">更新时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="td-ops"><a href="" class="op-edit">编辑</a><a href="" class="op-delete">删除</a></td>
                <td>技术</td>
                <td>999</td>
                <td>技术积累</td>
                <td>-</td>
                <td>2020-09-30 18:00</td>
                <td>2020-09-30 20:00</td>
            </tr>
            <tr>
                <td class="td-ops"><a href="" class="op-edit">编辑</a><a href="" class="op-delete">删除</a></td>
                <td>生活</td>
                <td>999</td>
                <td>生活中的点点滴滴</td>
                <td>-</td>
                <td>2020-09-30 18:00</td>
                <td>2020-09-30 20:00</td>
            </tr>
            <tr>
                <td class="td-ops"><a href="" class="op-edit">编辑</a><a href="" class="op-delete">删除</a></td>
                <td>娱乐</td>
                <td>999+</td>
                <td>人生最重要的就是快乐</td>
                <td>-</td>
                <td>2020-09-30 18:00</td>
                <td>2020-09-30 20:00</td>
            </tr>
            </tbody>
        </table>
        <div>
            <ul class="pagination"><li><a class="disable">首页</a></li><li><a href="#">前一页</a> </li><li><a href="#">1</a></li><li><a href="#">2</a></li><li><a class="current-page">3</a></li><li>...</li><a href="#">7</a><li><a href="#">8</a></li><li><a href="#">100</a></li><li><a href="#">后一页</a></li><li><a href="#">末页</a> </li></ul>
        </div>
    </div>
</div>

</body>
</html>
