<!DOCTYPE html>
<html>
<head>
    <title>Beck Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="header">
    <div class="logo">BECK</div>
    <ul class="main-nav">
        <li><a href="/article-list.php">内容</a></li>
        <li><a href="/article-list.php">分类</a></li>
        <li><a href="/appearance-theme.php">外观</a></li>
        <li><span class="current-menu">设置</span></li>
    </ul>
    <div class="logout"><a href="/logout.php">退出登录</a></div>
    <ul class="sub-nav">
        <li><a href="/setting-site.php">站点</a></li>
        <li><a href="/setting-publish.php">发布</a></li>
        <li><a class="selected-sub-nav" href="/setting-system.php">系统</a></li>
    </ul>
</div>

<div class="main-content">
    <div class="content-block">
        <form class="">
            <div class="input-row">
                <label class="input-item-name">默认编辑器</label>
                <input type="radio" name="editor-type" value="0" checked class="item-radio" /><span>Markdown</span>
                <input type="radio" name="editor-type" value="1" class="item-radio" /><span>WYSIWYG</span>
            </div>
            <div class="input-row">
                <label class="input-item-name">JS CDN</label>
                <input type="radio" name="js-cdn" value="0" checked class="item-radio" /><span>bootcdn.cn</span>
                <input type="radio" name="js-cdn" value="1" class="item-radio" /><span>jsdelivr.net</span>
                <input type="radio" name="js-cdn" value="2" class="item-radio" /><span>cdnjs.com</span>
            </div>
            <div class="input-row">
                <label class="input-item-name" for="old_password">旧密码</label>
                <input type="text" id="old_password" class="input-text" />
            </div>
            <div class="input-row">
                <label class="input-item-name" for="new_password">新密码</label>
                <input type="text" id="new_password" class="input-text" />
            </div>
            <button type="button" class="btn btn-default">保存</button>
        </form>
    </div>
</div>

</body>
</html>
