body{margin:0; width: 100%}
img {border: 0;}
ol, ul, li{list-style: none;}
a {text-decoration-line: none;display: block;}
input{font-size: 100%;font-family: inherit;}
label{width:100%;margin-bottom: 5px;background: whitesmoke;display: inline-block;}
input:focus{outline:none;border: 1px solid #409eff;}
/*input[type=radio] {width: 2%;}*/
select{width: 10%;height: 30px;margin: inherit;border:1px solid #ddd;border-radius: 4px;font-size: inherit}
textarea{width: 100%;min-height: 180px;margin-top:3px;margin-bottom: 10px;padding:6px 6px;border:1px solid #ddd;border-radius: 4px;outline:none;font-family: inherit;}
textarea:focus{outline:none;border: 1px solid #409eff;}
:focus {outline: 0;}
button:hover{background: #04699b;}
table{width:100%; padding: 3px; border-collapse: collapse;}
thead{border-top: 2px solid #777777; border-bottom: 2px solid #777777;}
th,td {border-bottom: 1px solid #ddd; border-left: 1px solid #bababa; border-right: 1px solid #bababa; padding: 4px;text-align: center; vertical-align: middle;}
tr:nth-last-child(1){border-bottom: 2px solid #777777;}
tr:nth-child(even) {background-color: #f5f5f5;}
tbody tr:hover {background-color: #d9e9ff;}

.header{position:fixed;float:left;width:100%;margin:0;left:0;top:0;background:#ededed;z-index:999;}
.logo{position: relative;float: left;width: 15%;margin: 20px 0 15px 18px; font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;font-size:26px;color:teal;}
.main-nav{float:left;width: 70%;margin:10px 0 0 0; padding:0;list-style-type: none;text-align: center;}
.main-nav a{text-decoration: none; color:#0768c9;padding: 20px 10px 16px 10px;display: block;}
.main-nav li{float:left; display: block;width:120px;list-style-type: none;}
.main-nav a:hover{color:#000;background:#bababa;border-radius: 5px;}
.current-menu{display:block;padding: 22px 10px 10px 10px;border-bottom: solid 4px #000; font-weight: bold;}
.sub-nav{float:left; width: 100%; margin:0; padding:10px 0 10px 230px; background: #ddd;/*background: rgba(205,205,205,0.5);*/ border-bottom:1px solid #bababa; text-align: center;}
.sub-nav li{display:block;float:left; width: 55px; margin:0 15px 0 0; background-color: #eee;border-radius: 5px;}
.sub-nav a{text-decoration: none; color:#4f5350;padding: 3px 1px 3px 1px;display: block;}
.sub-nav a:hover{color:#000;background:#fff;border-radius: 5px;}
.selected-sub-nav{color:#000;background:#fff;border-radius: 5px;}
.logout{margin-top:30px;}
.logout a{text-decoration: none; color: #777777;}
.logout a:hover{color: #4f5350;}

.main-content{float:left;width:100%;margin-top:118px; background-color: #efefef;}
.content-block{float:left; width: 88%; margin:20px 3%; padding: 10px 3%;background: #fff; border-radius: 5px;}
.item-radio {width: 2%;}

.td-ops{padding-left: 18px; line-height: 10px;}
a.op-edit{float: left; display: inline-block; margin-right:5px; color: #5495ff;}
a.op-edit:hover{color: #007cba;}
a.op-cancel{float: left; display: inline-block; margin-right:5px; color: #daae04;}
a.op-cancel:hover{color: #ce9504;}
a.op-delete{float: left; display: inline-block; margin-right:5px; color: #f1420d;}
a.op-delete:hover{color: #b72c02;}
a.article-lnk{color: #5495ff;}
a.article-lnk:hover{color: #007cba;}

.theme-block {float: left; width: 20%; height: 230px;padding: 1px;margin-right: 4%;}
.theme-thumb {float: left; width: 100%; height: 200px; border:1px solid #eeeeee;}
.theme-radio {float: left; display:block; width: 10%;}

.txt-green{color: #13a403;}
.txt-gray {color: #999999;}
.txt-center{text-align: center}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
.txt-justify{text-align: justify}

/* 85% */
.th-checkbox{width: 3%;}
.th-operation{width: 14%;}
.th-title{width: 37%;}
.th-time{width: 15%;}
.th-status{width: 8%;}
.th-cate{width: 8%;}
/* 85% */
.th-operation-col{width: 8%;}
.th-title-col{width: 11%;}
.th-article-col{width: 9%;}
.th-desc-col{width: 25%;}
.th-index-col{width: 20%;}
.th-time-col{width: 13%;}

.pagination{margin: 15px auto; padding: 0;}
.pagination li {display: inline-block;}
.pagination a {
    display: inline-block;
    text-align: center;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    margin: 0 4px;
    padding: 4px 6px;
    color:#4285f4;
}
.pagination a:hover {
    background: #f5f5f5;
}
.pagination .current-page {
    color:#4285f4;
    background: #d9e9ff;
    pointer-events: none;
}
.pagination .disable {
    color: #969696;
    background: #eeeeee;
    pointer-events: none;
}
.input-row {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.input-text {
    width: 98.8%;padding:6px 6px;margin-top:3px;margin-bottom: 3px;border:1px solid #ddd;border-radius: 4px;
}
/*.input-row-half {*/
/*    float: left;*/
/*    width: 50%;*/
/*    margin-bottom: 30px;*/
/*}*/
.input-text-short {
    /*float: left;*/
    width: 20%;
    margin-right: 10px;
}
.input-text-mini {
    width: 10%;
    padding: 2px;
}
.input-text-micro {
    width: 3%;
    padding: 2px;
}
.select-micro {
    width: 6%;
}
.textarea-height-fixed {
    resize: none;
    margin-bottom: 3px;
    width: 98.8%;
    max-width: 98.8%;
    max-height: 80px;
    min-height: 50px;
}

.btn-default{
    float: left;
    width:80px;
    padding:6px 0;
    margin-right: 30px;
    background:#007cba;
    color:#fff;
    border:1px solid teal;
    cursor:pointer;
    border-radius:3px;
}

.md-editor-panel {
    position: relative;
    float: left;
    width: 99.8%;
    min-height: 300px;
    background: #fbfbfb;
    border: 1px solid #cdcdcd;
}
#md_editor{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.md-editor {
    float: left;
    width: 50%;
    min-height: 300px;

    padding: 5px;
}
.md-preview {
    float: right;
    width: 49.1%;
    min-height: 300px;

    padding: 5px;
    border-left: 1px solid #cdcdcd;
}
.epr {
    border: 1px solid #cdcdcd;
    border-left: none;
}
.html-editor {
    width: 100%;
    height: 350px;
    border: 1px solid #cdcdcd;
    background: #fbfbfb;
}
.f-left {float: left;}
.f-right{float: right;}
.mg-r-1px{margin-right: 1px;}
.mg-r-2px{margin-right: 2px;}
.mg-r-3px{margin-right: 3px;}
.mg-r-5px{margin-right: 5px;}
.mg-r-6px{margin-right: 6px;}
.mg-r-8px{margin-right: 8px;}
.mg-r-10px{margin-right: 10px;}
.mg-r-20px{margin-right: 20px;}
.mg-r-30px{margin-right: 30px;}
